Access/Walmart/Time-Clock
Access/Walmart/Temp-Training
COVID19/venv
COVID19/data
COVID19/linkedin
COVID19/private
covid_tracker/
Java/gustavo
Textbooks/
Keeyan/
NodeJS/mosh-async-demo/10- Running Promises in Parallel.mp4
NodeJS/mosh-async-demo/11- Async and Await.mp4
NodeJS/mosh-async-demo/12- Exercise.mp4
NodeJS/mosh-course-material/Automated Testing.pptx
NodeJS/mosh-course-material/Mongoose Validation Recap.pdf
NodeJS/node_modules/
NodeJS/reactiv-api/node_modules/
NodeJS/reactiv-api/win-env-setup.bat
NodeJS/reactiv-api/reactiv-309904-cca515d4f801.json
React/backups
Python/ml-powered-applications/data
Python/ml-powered-applications/venv
Python/tensor-flow
Python/wm_img_class/img
Python/wm_img_class/.ipynb_checkpoints