alabaster
anaconda
anaconda-client
anaconda-navigator
anaconda-project
argh
argon2-cffi
asn1crypto
astroid
astropy
async_generator
atomicwrites
attrs
autopep8
babel
backcall
backports
backports.functools_lru_cache
backports.shutil_get_terminal_size
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
bitarray
bkcharts
blas
bleach
blosc
bokeh
boto
bottleneck
brotlipy
bzip2
ca-certificates
catalogue
certifi
cffi
chardet
click
cloudpickle
clyent
colorama
comtypes
conda
conda-build
conda-env
conda-package-handling
conda-verify
console_shortcut
contextlib2
cryptography
curl
cycler
cymem
cython
cython-blis
cytoolz
dask
dask-core
decorator
defusedxml
diff-match-patch
distributed
docutils
entrypoints
et_xmlfile
fastcache
filelock
flake8
flask
freetype
fsspec
future
get_terminal_size
gevent
glob2
greenlet
h5py
hdf5
heapdict
html5lib
icc_rt
icu
idna
imageio
imagesize
importlib-metadata
importlib_metadata
iniconfig
intel-openmp
intervaltree
ipykernel
ipython
ipython_genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
jinja2
joblib
jpeg
json5
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyterlab
jupyterlab_pygments
jupyterlab_server
keyring
kiwisolver
krb5
lazy-object-proxy
libarchive
libcurl
libiconv
liblief
libpng
libsodium
libspatialindex
libssh2
libtiff
libxml2
libxslt
llvmlite
locket
lxml
lz4-c
lzo
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
markupsafe
matplotlib
matplotlib-base
mccabe
menuinst
mistune
mkl
mkl-service
mkl_fft
mkl_random
mock
more-itertools
mpmath
msgpack-python
msys2-conda-epoch
multipledispatch
murmurhash
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpy-base
numpydoc
olefile
openpyxl
openssl
packaging
pandas
pandoc
pandocfilters
paramiko
parso
partd
path
path.py
pathlib2
pathtools
patsy
pep8
pexpect
pickleshare
pillow
pip
pkginfo
plac
pluggy
ply
powershell_shortcut
preshed
prometheus_client
prompt-toolkit
prompt_toolkit
psutil
py
py-lief
pycodestyle
pycosat
pycparser
pycurl
pydocstyle
pyflakes
pygments
pylint
pynacl
pyodbc
pyopenssl
pyparsing
pyqt
pyreadline
pyrsistent
pysocks
pytables
pytest
python
python-dateutil
python-jsonrpc-server
python-language-server
python-libarchive-c
pytz
pywavelets
pywin32
pywin32-ctypes
pywinpty
pyyaml
pyzmq
qdarkstyle
qt
qtawesome
qtconsole
qtpy
regex
requests
rope
rtree
ruamel_yaml
scikit-image
scikit-learn
scipy
seaborn
send2trash
setuptools
simplegeneric
singledispatch
sip
six
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
spacy
sphinx
sphinxcontrib
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
sqlalchemy
sqlite
srsly
statsmodels
sympy
tbb
tblib
terminado
testpath
thinc
threadpoolctl
tifffile
tk
toml
toolz
tornado
tqdm
traitlets
typing_extensions
ujson
unicodecsv
urllib3
vc
vs2015_runtime
wasabi
watchdog
wcwidth
webencodings
werkzeug
wheel
widgetsnbextension
win_inet_pton
win_unicode_console
wincertstore
winpty
wrapt
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
xz
yaml
yapf
zeromq
zict
zipp
zlib
zope
zope.event
zope.interface
zstd
